/*
 * PROJECT:     Command-line interface
 * LICENSE:     GPL - See COPYING in the top level directory
 * FILE:        base/applications/cmdutils/help/lang/uk-UA.rc
 * PURPOSE:     Ukraianian Language File for Command-line interface
 * TRANSLATORS: Artem Reznikov, Igor Paliychuk
 */

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_NO_ENTRY "This command is not supported by the help utility.\nTry ""%s /?"".\n"
END

STRINGTABLE
BEGIN
    IDS_USAGE "Provides Help information for InteractOS commands.\n\n\
HELP [command]\n\n\
  command - Display help information for this command.\n"
    IDS_HELP1 "Список всiх доступних команд (+ опис)\n\n\
  help команда\n\
  команда /?     Для докладної iнформацiї про конкретну команду\n\n\
?        Список всiх доступних команд без опису.\n\
ALIAS    Встановлення, видалення або показ псевдонiмiв.\n\
ATTRIB   Вiдображення або змiна атрибутiв файлу.\n\
BEEP     Звуковий сигнал динамiка.\n\
CALL     Виклик однiєї пакетної програми з iншої.\n\
CD       Вiдображення iменi або змiна поточної теки.\n\
CHCP     Вiдображення або встановлення поточного номера кодової сторiнки.\n\
CHOICE   Очiкування вибору користувачем одного з вказаних символiв.\n\
CLS      Очищення екрану.\n\
CMD      Запуск нової копiї iнтерпретатора команд InteractOS.\n\
COLOR    Встановлення типових кольорiв тексту i тла консолi.\n\
COPY     Копiювання одного або бiльше файлiв в iнше мiсце.\n\
DATE     Вiдображення або встановлення дати.\n\
DELETE   Видалення одного або бiльше файлiв.\n\
DIR      Вiдображення списку файлiв i пiдтек в тецi.\n\
ECHO     Вiдображення повiдомлень, або перемикання режиму вiдображення команд.\n\
ERASE    Видалення одного або бiльше файлiв.\n\
EXIT     Вихiд з програми CMD.EXE (iнтерпретатора команд).\n\
FOR      Запуск вказаної команди для кожного файлу з набору файлiв.\n\
FREE     (Вiльний) дисковий простiр.\n\
GOTO     Передача управлiння рядку пакетної програми, який мiстить мiтку.\n\
HELP     Довiдкова iнформацiя про команди InteractOS.\n\
HISTORY  Список усiх використаних команд.\n\
IF       Оператор обробки умов у пакетних програмах.\n\
LABEL    Створення, змiна, або видалення мiток тому диска.\n\
MD       Створення теки.\n\
MKDIR    Створення теки.\n\
MKLINK   Створення об'єкту-посилання файлової системи.\n\
MOVE     Перемiщення одного або бiльше файлiв з однiєї теки до iншої\n\
         теки.\n\
PATH     Вiдображення або встановлення шляху пошуку виконуваних файлiв.\n\
PAUSE    Тимчасове припинення обробки командного файлу i показ повiдомлення.\n\
POPD     Вiдновлює попереднє значення поточної теки, збережене командою\n\
         PUSHD.\n\
PROMPT   Змiна запрошення командного рядка.\n\
PUSHD    Зберiгає поточну теку, а потiм змiнює її.\n\
RD       Видалення теки.\n\
REM      Записує коментарi (зауваження) в командних файлах.\n\
REN      Перейменування файла або файлiв.\n\
RENAME   Перейменування файла або файлiв.\n\
REPLACE  Замiна файлiв.\n\
RMDIR    Перемiщення теки.\n\
SCREEN   Перемiщення курсора i виведення тексту.\n\
SET      Вiдображення, встановлення, або видалення змiнних оточення InteractOS.\n\
SHIFT    Зрушення позицiї замiнних параметрiв у командних файлах.\n"
    IDS_HELP2 "START    Вiдкриває окреме вiкно для запуску вказаних команд або програм.\n\
         Виконує команду.\n\
TIME     Вiдображення або встановлення системного часу.\n\
TIMER    Дозволяє використання десяти секундомiрiв.\n\
TITLE    Встановлення заголовка вiкна для сесiї CMD.EXE.\n\
TYPE     Вiдображення вмiсту текстового файлу.\n\
VER      Вiдображення версiї InteractOS.\n\
VERIFY   Включення або вiдключення режиму перевiрки правильностi запису\n\
         файлiв на диск.\n\
VOL      Вiдображення мiтки тому диска i серiйного номера.\n"
END
